@font-face {
  font-family: "Hermit-Regular";
  src: url(../assets/Hermit-Regular.otf) format("truetype");
}

@font-face {
  font-family: 'Raleway Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Raleway Semi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/Raleway-SemiBold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway Regular", sans-serif;
}

:root {
  --fallbackCol: #d23;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--fallbackCol) rgba(175, 175, 175, 0.5);
}

body::-webkit-scrollbar-track {
  background: var(--oppCol);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fallbackCol);
  border: 1px solid var(--oppCol);
  border-radius: 4px;
}

.model {
  cursor: pointer;
}

.modelOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modelOverlay img {
  max-width: 80%;
  width: auto;
}

img {
  width: 240px;
  min-width: 10px;
}

header#rvHsQW {
  background-color: var(--notBodyText);
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  overflow: hidden;
}

header#rvHsQW div.dp-container {
  z-index: 3;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
}

header#rvHsQW div.dp-container section.dafhauh {
  padding: 0.5rem;
}

header#rvHsQW div.dp-container section.dafhauh img {
  border: 2px solid var(--notBodyText);
  border-radius: 50%;
  max-width: 240px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

header#rvHsQW div.intro {
  color: var(--bodyText);
  z-index: 3;
  padding: 1rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 0 1rem 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 1px rgba(0, 0, 0, 0.2);
}

header#rvHsQW div.intro .my-name {
  display: block;
  font-size: 4.5rem;
  font-weight: 600;
}

header#rvHsQW div.intro .tag-line {
  max-width: 600px;
  display: block;
  font-size: 1rem;
}

header#rvHsQW .mode-change-btn, header#rvHsQW .col-shuffle {
  z-index: 3;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0.5rem;
  height: 2rem;
  width: 2rem;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header#rvHsQW .mode-change-btn svg, header#rvHsQW .col-shuffle svg {
  border-radius: 50%;
  max-width: 48px;
  max-height: 48px;
}

header#rvHsQW .mode-change-btn:hover, header#rvHsQW .col-shuffle:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header#rvHsQW .col-shuffle {
  top: 4rem;
}

header#rvHsQW .hexSuperParent {
  z-index: 2;
  position: absolute;
  top: 0;
  left: -3rem;
  width: calc(100% + 6rem);
  height: inherit;
}

header#rvHsQW .hexSuperParent .hexRow {
  width: calc(100% + 6rem);
  height: 7rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -35px;
  margin-left: 0;
}

header#rvHsQW .hexSuperParent .hexRow .bgHexagon {
  position: relative;
  width: 5.13rem;
  height: 3rem;
  background-color: var(--oppCol2);
  margin: 2rem 0.2rem;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

header#rvHsQW .hexSuperParent .hexRow .bgHexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 2.565rem solid transparent;
  border-right: 2.565rem solid transparent;
  top: 100%;
  width: 0;
  border-top: 1.5rem solid var(--oppCol2);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

header#rvHsQW .hexSuperParent .hexRow .bgHexagon::before {
  content: "";
  position: absolute;
  width: 0;
  border-left: 2.565rem solid transparent;
  border-right: 2.565rem solid transparent;
  bottom: 100%;
  border-bottom: 1.5rem solid var(--oppCol2);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

header#rvHsQW .hexSuperParent .hexRow .bgHexagon-trans {
  background-color: transparent;
}

header#rvHsQW .hexSuperParent .hexRow .bgHexagon-trans::before, header#rvHsQW .hexSuperParent .hexRow .bgHexagon-trans::after {
  border: none;
  background-color: transparent;
}

header#rvHsQW .hexSuperParent .hexRow.hexRowMoved .halfHex {
  margin-right: 0.2rem;
  width: 2.565rem;
  height: 3rem;
  background-color: transparent;
}

header#rvHsQW .cursor {
  width: 12vmax;
  height: 12vmax;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  background: var(--fallbackCol);
}

div.top-fixed {
  height: 3rem;
  width: 100%;
  overflow-y: hidden;
  position: fixed;
  top: -50px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  background: var(--notBodyText);
  z-index: 99;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

div.top-fixed .navigation {
  height: 100%;
}

div.top-fixed .navigation nav {
  height: 100%;
}

div.top-fixed .navigation nav ul {
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: var(--fallbackCol);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.top-fixed .navigation nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

div.top-fixed .navigation nav ul li a {
  color: #ddd;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 0.95rem 0.5rem;
  font-size: 0.9rem;
}

div.top-fixed .navigation nav ul li a:hover {
  font-weight: bold;
  border-bottom: 0.2rem solid #ddd;
}

.overlay-nav {
  display: none;
}

.card {
  max-width: 1000px;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--oppCol);
}

.card * {
  color: var(--bodyText);
}

.card span {
  display: block;
}

.card .card-heading {
  font-family: "Raleway Semi";
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  width: 100%;
}

.card .sub-card {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0.5rem;
  margin: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 4px solid var(--fallbackCol);
  -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card .sub-card .sub-card-content {
  padding: 0.5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.card .sub-card .sub-card-content .sub-card-head-name, .card .sub-card .sub-card-content .project-name {
  font-family: "Raleway Semi";
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.2rem;
  display: block;
  margin-bottom: 1rem;
}

.card .sub-card .sub-card-content .links {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.card .sub-card .sub-card-content .links a {
  margin: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  background: var(--fallbackCol);
  color: #eee;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.card .sub-card .sub-card-content .links a:hover {
  color: var(--notBodyText);
  background-color: var(--bodyText);
}

.card .sub-card .sub-card-content .sub-card-head-details {
  font-size: 1rem;
  padding: 0.2rem;
}

.card .sub-card .sub-card-content .sub-card-head-simple-links, .card .sub-card .sub-card-content .sub-card-head-extras {
  font-size: 0.9rem;
}

.card .sub-card .sub-card-content .sub-card-head-simple-links a, .card .sub-card .sub-card-content .sub-card-head-extras a {
  color: inherit;
  opacity: 0.8;
}

.card .sub-card .sub-card-content .sub-card-head-simple-links a:hover, .card .sub-card .sub-card-content .sub-card-head-extras a:hover {
  opacity: 1;
}

.card .sub-card .sub-card-content * {
  padding: 0.15rem;
}

.hidden-view-details .hidden-view-details-card {
  background-color: var(--notBodyText);
  color: var(--bodyText);
  width: 100%;
  min-width: 100px;
  text-align: center;
  position: absolute;
  z-index: 9;
  top: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.hidden-view-details .hidden-view-details-card .sub-card {
  margin: 0;
  border-radius: 6px;
  border: 1px solid var(--bodyText);
  white-space: normal;
  text-align: left;
}

.hidden-view-details .hidden-view-details-card .sub-card picture {
  padding: 0.5rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.hidden-view-details .hidden-view-details-card .sub-card picture img {
  margin: auto;
  max-height: 150px;
}

.hidden-view-details .hidden-view-details-card .sub-card picture img.sub-card-pic {
  display: block;
  width: auto;
}

.hidden-view-details:hover > .hidden-view-details-card {
  opacity: 1;
  visibility: visible;
}

main {
  background-color: var(--oppCol2);
  padding: 0.5rem;
  overflow-y: hidden;
}

main .terminal {
  display: block;
  margin: 1rem;
  background-color: #111;
  padding: 0.25rem;
  overflow-x: hidden;
}

main .terminal .terminal-preview {
  padding: 0.25rem;
  color: white;
  height: 30vh;
  max-height: 480px;
  font-family: "Hermit-Regular", monospace;
  font-size: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

main .terminal .terminal-preview .terminal-preview-text {
  color: white;
  font-family: "Hermit-Regular", monospace;
}

main .terminal .terminal-preview::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

main .terminal .terminal-preview::-webkit-scrollbar-track {
  background-color: transparent;
}

main .terminal .terminal-preview::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

main .terminal .terminal-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Hermit-Regular", monospace;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.25rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1rem;
}

main .terminal .terminal-input-container .terminal-input {
  font-family: "Hermit-Regular", monospace;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  caret-color: white;
}

main div.wrapper article.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main div.wrapper article.skills .skill-container-parent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main div.wrapper article.skills .skill-container-parent div.skill-container {
  margin: 0.25rem;
  width: 50px;
  cursor: pointer;
}

main div.wrapper article.skills .skill-container-parent div.skill-container path {
  fill: var(--bodyText);
}

main div.wrapper article.skills .skill-container-parent div.skill-container .hidden-view-details-card {
  width: auto;
}

main div.wrapper article.skills .skill-container-parent div.skill-container .hidden-view-details-card .sub-card .skill-bar {
  min-height: 6px;
  width: 100%;
  width: 200px;
  max-width: 100%;
  margin: auto 0.1rem;
  border: 1px solid var(--fallbackCol);
  padding: 1px;
  border-radius: 4px;
}

main div.wrapper article.skills .skill-container-parent div.skill-container .hidden-view-details-card .sub-card .skill-bar-filled {
  min-height: 4px;
  border-radius: 4px;
  background-color: var(--fallbackCol);
}

main div.wrapper article.timeline {
  position: relative;
}

main div.wrapper article.timeline section.timeline-progress {
  overflow-x: scroll;
  border: none;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scrollbar-width: thin;
  padding: 2rem 0;
}

main div.wrapper article.timeline section.timeline-progress div.timeline-progress-content {
  border-radius: 20px;
  padding: 0.6rem;
  border: 2px solid var(--fallbackCol);
  white-space: nowrap;
  cursor: pointer;
}

main div.wrapper article.timeline section.timeline-progress div.timeline-progress-bar {
  min-width: 100px;
  height: 4px;
  background-color: var(--fallbackCol);
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar {
  height: 0.5rem;
  background-color: transparent;
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar-track {
  background-color: var(--oppCol);
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar-thumb {
  background-color: var(--fallbackCol);
  border: 1px solid var(--oppCol);
  border-radius: 4px;
}

.bottom-fixed {
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

footer.contact {
  padding: 1rem;
  background: var(--fallbackCol);
  color: #eee;
}

footer.contact span.footer-heading {
  font-family: "Raleway Semi";
  font-size: 1.4rem;
}

footer.contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer.contact .social .social-icon-container {
  color: #eee;
  width: auto;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 0.6rem;
  padding: 0.5rem;
}

footer.contact .social .social-icon-container .social-icon {
  padding: 0.5rem;
  fill: #eee;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  max-height: 100px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

footer.contact .social .social-icon-container .social-icon:hover {
  width: 50px;
}

footer.contact .signate {
  color: #eee;
}

@media all and (max-width: 1000px) {
  header#rvHsQW {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header#rvHsQW div.dp-container {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    padding: 1rem;
    margin: 1rem;
  }
  header#rvHsQW div.dp-container section.dafhauh img {
    max-width: 200px;
  }
  header#rvHsQW div.intro .my-name {
    font-size: 2.5rem;
  }
  header#rvHsQW div.header-overlay {
    display: none;
  }
}

@media all and (max-width: 600px) {
  div.top-fixed {
    display: none;
  }
  header#rvHsQW div.intro .my-name {
    font-size: 1.2rem;
  }
  header#rvHsQW div.header-overlay {
    display: none;
  }
  main div.wrapper article.skills div.skill-container {
    width: 35px;
  }
  main div.wrapper .sub-card {
    padding: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main div.wrapper .sub-card picture {
    padding: 0.5rem;
  }
  main div.wrapper .sub-card picture img.sub-card-pic {
    display: block;
    width: auto;
    max-height: 50px;
  }
  main div.wrapper .sub-card .sub-card-content .sub-card-head-name {
    font-size: 1rem;
  }
  main div.wrapper .sub-card .sub-card-content .sub-card-head-purpose {
    font-size: 0.8rem;
  }
  main div.wrapper .sub-card .sub-card-content .sub-card-head-duration {
    font-size: 0.6rem;
  }
  main div.wrapper article.projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main div.wrapper article.projects section.sub-card {
    margin-left: auto;
    margin-right: auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main div.wrapper article.projects section.sub-card a {
    padding: 0.25rem;
  }
  main div.wrapper article.projects section.sub-card a img {
    width: 80%;
    margin: auto;
  }
  .bottom-fixed {
    height: unset;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 98;
  }
  .bottom-fixed .burger, .bottom-fixed .scroll-to-top {
    background-color: var(--fallbackCol);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .bottom-fixed .burger .bars, .bottom-fixed .scroll-to-top .bars {
    background-color: #eee;
    height: 2px;
    width: 1rem;
  }
  .bottom-fixed .burger .up-arrow-box, .bottom-fixed .scroll-to-top .up-arrow-box {
    height: 0.5rem;
    width: 0.5rem;
    border-left: 2px solid #eee;
    border-top: 2px solid #eee;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotateZ(45deg) translate(20%, 20%);
            transform: rotateZ(45deg) translate(20%, 20%);
  }
  .bottom-fixed .burger:hover {
    padding: 0.75rem;
  }
  .bottom-fixed .scroll-to-top:hover .up-arrow-box {
    width: 0.75rem;
    height: 0.75rem;
  }
  .overlay-nav {
    display: block;
    background: var(--fallbackCol);
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .overlay-nav .overlay-content {
    position: relative;
    top: 3rem;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
  .overlay-nav a {
    color: #eee;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .overlay-nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .overlay-nav .closebtn {
    font-size: 3rem;
  }
}

@media all and (max-width: 330px) {
  header#rvHsQW div.mode-change-btn svg {
    max-width: 30px;
    max-height: 30px;
  }
  .card .card-heading, .card .sub-card {
    overflow-x: scroll;
  }
}

.ut-color, .cyan, .lime, .orangered, .flags, .orchid, .sky-blue, .custom-color1, .yellowgreen, .fb-color, .tw-color, .ln-color, .gh-color {
  font-family: "Hermit-Regular", monospace;
  font-size: inherit;
}

.ut-color {
  color: #40a9ff;
}

.cyan {
  color: cyan;
}

.sky-blue {
  color: skyblue;
}

.yellowgreen {
  color: yellowgreen;
}

.orangered {
  color: orangered;
}

.flags {
  color: peachpuff;
}

.orchid {
  color: orchid;
}

.custom-color1 {
  color: #ffe44d;
}

.lime {
  color: lime;
}

.fb-color {
  color: #3b5998;
}

.tw-color {
  color: #00acee;
}

.ln-color {
  color: #0e76a8;
}

.apricot {
  color: #F4CBB2;
}

.active-link-btn {
  border-bottom: 0.2rem solid #ddd;
  font-weight: bold;
}

.light-opacity {
  opacity: 0.7;
  z-index: -1;
}

.center-text {
  text-align: center;
}

.pun {
  display: none;
  opacity: 0.7;
}
/*# sourceMappingURL=default.css.map */