@font-face{
	font-family: "Hermit-Regular";
	src: url(../assets/Hermit-Regular.otf) format('truetype');
}
@font-face {
	font-family: 'Raleway Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../assets/Raleway-Regular.ttf);
}
@font-face {
	font-family: 'Raleway Semi';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../assets/Raleway-SemiBold.ttf);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Raleway Regular", sans-serif;
}
:root{
	--fallbackCol: #d23;
}
html{
	scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--fallbackCol) rgba(175, 175, 175, 0.5);
}
body::-webkit-scrollbar-track {
  background: var(--oppCol);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--fallbackCol);
	border: 1px solid var(--oppCol);
	border-radius: 4px;
}

.model{
	cursor: pointer;
}
.modelOverlay{
	background-color: rgba(0,0,0,0.6);
	backdrop-filter: blur(5px);
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	img{
		max-width: 80%;
		width: auto;
	}
}

img{
	width: 240px;
	min-width: 10px;
}

header#rvHsQW{
	background-color: var(--notBodyText);
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	overflow: hidden;
	div.dp-container{
		z-index: 3;
		overflow: hidden;
		padding: 1rem;
		margin: 1rem;
		// flex-basis: 20%;
		section.dafhauh{
			padding: 0.5rem;
			img{
				border: 2px solid var(--notBodyText);
				border-radius: 50%;
				max-width: 240px;
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
			}
		}
	}
	div.intro{
		color: var(--bodyText);
		z-index: 3;
		padding: 1rem;
		backdrop-filter: blur(5px);
		border-radius: 1rem;
		// flex-basis: unset;
		// flex-basis: 70%;
		text-align: center;
		.my-name{
			display: block;
			font-size: 4.5rem;
			font-weight: 600;
		}
		.tag-line{
			max-width: 600px;
			display: block;
			font-size: 1rem;
		}
	}
	.mode-change-btn, .col-shuffle{
		z-index: 3;
		cursor: pointer;
		border-radius: 50%;
		position: absolute;
		top: 1rem;
		right: 1rem;
		margin: 0.5rem;
		height: 2rem;
		width: 2rem;
		box-shadow: 0 0 5px 1px rgba(0,0,0,0.32);
		transition: all 0.5s ease;
		svg{
			border-radius: 50%;
			max-width: 48px;
			max-height: 48px;
		}
		&:hover{
			transform: rotate(180deg);
		}
	}
	.col-shuffle{
		// right: 3rem;
		top: 4rem;
	}
	.hexSuperParent{
		$fill: var(--oppCol2);
		z-index: 2;
		$side: 3rem;
		$pseudo-bottop: $side / 2;
		$pseudo-t-border: $pseudo-bottop * 1.71;
		position: absolute;
		top: 0;
		left: -3rem;
		width: calc(100% + 6rem);
		height: inherit;
		// overflow: hidden;
		.hexRow {
			width: calc(100% + 6rem);
			height: 2 * $side + 1rem;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-top: -35px;
			margin-left: 0;
			.bgHexagon {
				// $fill: #222;
				position: relative;
				width: 2 * $pseudo-t-border;
				height: $side;
				background-color: $fill;
				margin: 2rem 0.2rem;
				display: block;
				transition: all 0.2s linear;
				&::after {
					content: "";
					position: absolute;
					width: 0;
					border-left: $pseudo-t-border solid transparent;
					border-right: $pseudo-t-border solid transparent;
					top: 100%;
					width: 0;
					border-top: $pseudo-bottop solid $fill;
					transition: all 0.2s linear;
				}
				&::before {
					content: "";
					position: absolute;
					width: 0;
					border-left: $pseudo-t-border solid transparent;
					border-right: $pseudo-t-border solid transparent;
					bottom: 100%;
					border-bottom: $pseudo-bottop solid $fill;
					transition: all 0.2s linear;
				}
			}

			.bgHexagon-trans{
				background-color: transparent;
				&::before, &::after{
					border: none;
					background-color: transparent;
				}
			}
		}
		.hexRow.hexRowMoved {
			.halfHex{
				margin-right: 0.2rem;
				width: $pseudo-t-border;
				height: $side;
				background-color: transparent;
			}
		}
	}
	.cursor {
		width: 12vmax;
		height: 12vmax;
		border-radius: 50%;
		position: absolute;
		top: 0;
		z-index: 1;
		filter: blur(40px);
		background: var(--fallbackCol);
	}
}

div.top-fixed{
	height: 3rem;
	width: 100%;
	overflow-y: hidden;
	position: fixed; 
  top: -50px; 
	transition: top 0.3s;
	background: var(--notBodyText);
	z-index: 99;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
	.navigation{
		height: 100%;
		nav{
			height: 100%;
			ul{
				height: 100%;
				list-style-type: none;
				display: flex;
				justify-content: space-evenly;
				background: var(--fallbackCol);
				align-items: center;
				li{
					flex: 1;
					text-align: center;
					a{
						color: #ddd;
						text-decoration: none;
						display: block;
						cursor: pointer;
						padding: 0.95rem 0.5rem;
						font-size: 0.9rem;
						&:hover{
							font-weight: bold;
							border-bottom: 0.2rem solid #ddd;
						}
					}
				}
			}
		}
	}
}
.overlay-nav{
	display: none;
}

.card{
	max-width: 1000px;
	border-radius: 10px;
	margin: 2rem auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// overflow-x: hidden;
	align-items: center;
	box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid var(--oppCol);
	*{
		color: var(--bodyText);
	}
	span{
		display: block;
	}
	.card-heading{
		font-family: "Raleway Semi";
		padding: 0.5rem;
		margin-bottom: 1rem;
		font-size: 1.5rem;
		width: 100%;
	}
	.sub-card{
		width: 100%;
		flex-basis: 100%;
		padding: 0.5rem;
		margin: 0.25rem;
		display: flex;
		// flex-direction: column;
		flex-direction: row;
		align-items: center;
		border-left: 4px solid var(--fallbackCol);
		box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
		// justify-content: space-between;
		// align-items: stretch;
		// picture{
		// 	img.sub-card-circle-pic{
		// 		border-radius: 50%;
		// 		box-shadow: 0 2px 3px 1px rgba(0,0,0,0.2);
		// 	}
		// }
		.sub-card-content{
			padding: 0.5rem;
			flex-basis: 100%;
			.sub-card-head-name, .project-name{
				font-family: "Raleway Semi";
				font-size: 1.2rem;
				font-weight: 600;
				padding: 0.2rem;
				display: block;
				margin-bottom: 1rem;
			}
			.links{
				margin-top: 0.25rem;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-flow: row wrap;
				a{
					margin: 0.5rem;
					font-size: 1rem;
					text-decoration: none;
					display: inline-block;
					padding: 0.25rem 0.5rem;
					border-radius: 20px;
					background: var(--fallbackCol);
					color: #eee;
					box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
					&:hover{
						color: var(--notBodyText);
						background-color: var(--bodyText);
					}
				}
			}
			.sub-card-head-details{
				font-size: 1rem;
				padding: 0.2rem;
			}
			.sub-card-head-simple-links, .sub-card-head-extras{
				font-size: 0.9rem;
				a{
					color: inherit;
					opacity: 0.8;
				}
				a:hover{
					opacity: 1;
				}
			}
			*{
				padding: 0.15rem;
			}
		}
	}
}

.hidden-view-details{
	.hidden-view-details-card {
		background-color: var(--notBodyText);
		// display: none;
		color: var(--bodyText);
		// filter: blur(5px);
		width: 100%;
		min-width: 100px;
		text-align: center;
		position: absolute;
		z-index: 9;
		top: -1rem;
		left: 50%;
		transform: translate(-50%, -100%);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.4s;
		.sub-card{
			margin: 0;
			border-radius: 6px;
			border: 1px solid var(--bodyText);
			white-space: normal;
			text-align: left;
			picture{
				padding: 0.5rem;
				// flex-basis: 15%;
				flex-basis: 40%;
				img{
					margin: auto;
					max-height: 150px;
				}
				img.sub-card-pic{
					display: block;
					width: auto;
					// max-height: 150px;
				}
			}
		}
	}
}
.hidden-view-details:hover > .hidden-view-details-card {
	opacity: 1;
	visibility: visible;
	// display: block;
}

main{
	background-color: var(--oppCol2);
	padding: 0.5rem;
	overflow-y: hidden;
	.terminal{
		display: block;
		margin: 1rem;
		background-color: #111;
		padding: 0.25rem;
		overflow-x: hidden;
		.terminal-preview{
			padding: 0.25rem;
			color: white;
			height: 30vh;
			max-height: 480px;
			font-family: "Hermit-Regular", monospace;
			font-size: 1rem;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: rgba(255,255,255, 0.1) transparent;
			.terminal-preview-text{
				color: white;
				font-family: "Hermit-Regular", monospace;
			}
		}
		.terminal-preview::-webkit-scrollbar{
			background-color: transparent;
			width: 3px
		}
		.terminal-preview::-webkit-scrollbar-track{
			background-color: transparent;
		}
		.terminal-preview::-webkit-scrollbar-thumb{
			background-color: rgba(255,255,255, 0.1);
			border-radius: 6px;
		}
		.terminal-input-container{
			display: flex;
			font-family: "Hermit-Regular", monospace;
			color: white;
			background-color: rgba(0,0,0,0.5);
			padding: 0.25rem;
			flex-wrap: nowrap;
			font-size: 1rem;
			.terminal-input{
				font-family: "Hermit-Regular", monospace;
				font-size: inherit;
				color: inherit;
				border: none;
				outline: none;
				background-color: transparent;
				width: 100%;
				caret-color: white;
			}
		}
	}
	div.wrapper{
		article.projects{
			display: flex;
			align-items: stretch;
			flex-flow: row wrap;
		}
		article.skills{
			.skill-container-parent{
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-evenly;
				div.skill-container{
					margin: 0.25rem;
					width: 50px;
					cursor: pointer;
					path{
						fill: var(--bodyText);
					}
					.hidden-view-details-card {
						width: auto;
						.sub-card{
							.skill-bar{
								min-height: 6px;
								width: 100%;
								width: 200px;
								max-width: 100%;
								margin: auto 0.1rem;
								border: 1px solid var(--fallbackCol);
								// background-color: var(--oppCol);
								padding: 1px;
								border-radius: 4px;
							}
							.skill-bar-filled{
								min-height: 4px;
								border-radius: 4px;
								background-color: var(--fallbackCol);
							}
						}
					}
				}
			}
		}
		article.timeline{
			position: relative;
			section.timeline-progress{
				overflow-x: scroll;
				border: none;
				scrollbar-color: rgba(255,255,255, 0.1) transparent;
				display: flex;
				flex-direction: row;
				align-items: center;
				scrollbar-width: thin;
				padding: 2rem 0;
				div.timeline-progress-content{
					border-radius: 20px;
					padding: 0.6rem;
					border: 2px solid var(--fallbackCol);
					white-space: nowrap;
					cursor: pointer;
				}
				div.timeline-progress-bar{
					min-width: 100px;
					height: 4px;
					background-color: var(--fallbackCol);
				}
			}
			section.timeline-progress::-webkit-scrollbar{
				height: 0.5rem;
				background-color: transparent;
			}
			section.timeline-progress::-webkit-scrollbar-track{
				background-color: var(--oppCol);
			}
			section.timeline-progress::-webkit-scrollbar-thumb{
				background-color: var(--fallbackCol);
				border: 1px solid var(--oppCol);
				border-radius: 4px;
			}
		}
	}
}
.bottom-fixed{
	height: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
footer.contact{
	padding: 1rem;
	background: var(--fallbackCol);
	color: #eee;
	span.footer-heading{
		font-family: "Raleway Semi";
		// line-height: normal;
		font-size: 1.4rem;
	}
	.social{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		.social-icon-container{
			color: #eee;
			width: auto;
			text-align: center;
			text-decoration: none;
			display: block;
			font-size: 0.6rem;
			padding: 0.5rem;
			.social-icon{
				padding: 0.5rem;
				fill: #eee;
				margin: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				max-height: 100px;
				transition: width 0.2s;
				&:hover{
					width: 50px;
				}
			}
		}
	}
	.signate{
		color: #eee;
	}
}
@media all and (max-width: 1000px){
	header#rvHsQW{
		flex-direction: column;
		div.dp-container{
			flex-basis: unset;
			padding: 1rem;
			margin: 1rem;
			section.dafhauh{
				img{
					max-width: 200px;
				}
			}
		}
		div.intro{
			.my-name{
				font-size: 2.5rem;
			}
		}
		div.header-overlay{
			display: none;
		}
	}
}
@media all and (max-width: 600px){
	div.top-fixed{
		display: none;
	}
	header#rvHsQW{
		div.intro{
			.my-name{
				font-size: 1.2rem;
			}
		}
		div.header-overlay{
			display: none;
		}
	}
	main{
		div.wrapper{
			article.skills{
				div.skill-container{
					width: 35px;
				}
			}
			.sub-card{
				padding: 0.5rem;
				align-items: center;
				picture{
					padding: 0.5rem;
					img.sub-card-pic{
						display: block;
						width: auto;
						max-height: 50px;
					}
				}
				.sub-card-content{
					.sub-card-head-name{
						font-size: 1rem;
					}
					.sub-card-head-purpose{
						font-size: 0.8rem;
					}
					.sub-card-head-duration{
						font-size: 0.6rem;
					}
				}
			}
			article.projects{
				flex-flow: column wrap;
				section.sub-card{
					margin-left: auto;
					margin-right: auto;
					flex-basis: 100%;
					a{
						padding: 0.25rem;
						img{
							width: 80%;
							margin: auto;
						}
					}
				}
			}
			// article.timeline{
			// 	.hidden-view-details{
			// 		.hidden-view-details-card {
			// 			.sub-card{
			// 				flex-direction: column;
			// 				picture{
			// 					flex-basis: 100%;
			// 					img{
			// 						margin: auto;
			// 						max-height: 100px;
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		}
	}

	.bottom-fixed{
		height: unset;
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		// padding: 1rem;
		z-index: 98;
		.burger, .scroll-to-top{
			background-color: var(--fallbackCol);
			box-shadow: 0 0 5px 1px rgba(0,0,0,0.32);
			cursor: pointer;
			height: 2.5rem;
			width: 2.5rem;
			margin: 0.5rem;
			border-radius: 50%;
			display: flex;
			padding: 0.5rem;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
			transition: all 0.2s ease;
			.bars{
				background-color: #eee;
				height: 2px;
				width: 1rem;
			}
			.up-arrow-box{
				height: 0.5rem;
				width: 0.5rem;
				border-left: 2px solid #eee;
				border-top: 2px solid #eee;
				transition: all 0.2s ease;
				transform: rotateZ(45deg) translate(20%, 20%);
			}
		}
		.burger{
			&:hover{
				padding: 0.75rem;
			}
		}
		.scroll-to-top:hover{
			.up-arrow-box{
				width: 0.75rem;
				height: 0.75rem;
			}
		}
	}
	.overlay-nav {
		display: block;
		background: var(--fallbackCol);
		height: 0;
		width: 100%;
		position: fixed; 
		z-index: 99;
		left: 0;
		top: 0;
		overflow-x: hidden;
		transition: 0.5s; 
		.overlay-content {
			position: relative;
			top: 3rem; 
			width: 100%; 
			text-align: center;
			margin-top: 3rem;
		}
		a {
			color: #eee;
			padding: 0.5rem;
			text-decoration: none;
			font-size: 1.5rem;
			display: block; 
			transition: 0.3s all ease;
			&:hover{
				background-color: rgba(0,0,0,0.2);
			}
		}
		.closebtn {
			font-size: 3rem;
		}
	}
}
@media all and (max-width: 330px){
	header#rvHsQW{
		div.mode-change-btn{
			svg{
				max-width: 30px;
				max-height: 30px;
			}
		}
	}

	.card{
		.card-heading, .sub-card{
			overflow-x: scroll;
		}
	}
}
.ut-color, .cyan, .lime, .orangered, .flags, .orchid, .sky-blue,.custom-color1, .yellowgreen, .fb-color, .tw-color, .ln-color, .gh-color{
	font-family: "Hermit-Regular", monospace;
	font-size: inherit;
}
.ut-color{
	color: rgb(64, 169, 255);
}
.cyan{
	color: cyan;
}
.sky-blue{
	color: skyblue;
}
.yellowgreen{
	color: yellowgreen;
}
.orangered{
	color: orangered;
}
.flags{
	color: peachpuff;
}
.orchid{
	color: orchid;
}
.custom-color1{
	color: rgb(255, 228, 77);
}
.lime{
	color: lime;
}
.fb-color{
	color: #3b5998;
}
.tw-color{
	color: #00acee;
}
.ln-color{
	color: #0e76a8;
}
.apricot{
	color: #F4CBB2;
}

.active-link-btn{
	border-bottom: 0.2rem solid #ddd;
	font-weight: bold;
}

//must remain at end
.light-opacity{
	opacity: 0.7;
	z-index: -1;
}

.center-text{
	text-align: center;
}

.pun{
	display: none;
	opacity: 0.7;
}
// .toolTip{
// 	position: relative;
// 	.toolTipText {
		// background-color: rgba(36,36,36,1);
		// 		display: none;
// 		width: auto;
// 		min-width: 100px;
// 		text-align: center;
// 		border-radius: 6px;
// 		padding: 0.25rem;
// 		position: absolute;
// 		z-index: 9;
// 		bottom: 0;
// 		left: 50%;
// 		visibility: hidden;
// 		opacity: 0;
// 		transition: opacity 0.5s;
// 		transform: translate(-50%, -100%);
// 	}
// }
// .toolTip:hover > .toolTipText {
// 	display: block;
// 	opacity: 1;
// 	visibility: visible;
// }
