@font-face{
    font-family: "UbuntuMono-Regular";
    src: url("../assets/UbuntuMono-Regular.ttf") format('truetype');
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.light-opacity{
    opacity: 0.5;
}
.card {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    .card-heading{
        margin: 0.7rem auto;
        width: 100%;
    }
    .sub-card{
        width: 100%;
        margin: 1rem auto;
        padding: 1rem;
        box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.2);
        border: 1px solid #ccc;
        overflow: hidden;
        background-color: #999;
        img{
            width: 100%;
        }
        .sub-card-content{
            padding: 0.5em;
            h3, h4{
                margin: 0.25em auto;
            }
            .duration, .ingredients, .repo-link{
                font-size: 0.9rem;
                margin: 0.15rem;
            }
        }
    }
}

header,
footer {
    background-color: burlywood;
}

header {
    display: flex;
    align-items: center;

    .dp-container {
        width: 30%;

        .dafhauh {
            padding: 20%;
            width: 100%;

            img {
                border: 0.5vw solid #333;
                padding: 1px;
                border-radius: 50%;
                display: block;
                width: 100%;
            }
        }
    }
    .intro {}
}

.terminal{
    margin: 1rem;
    background-color: #333;
    padding: 0.2rem;
    .terminal-preview{
        color: white;
        height: 10vh;
        font-family: "UbuntuMono-Regular", monospace;
        font-size: 1rem;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(255,255,255, 0.1) transparent;
        .terminal-preview-text{
            color: white;
            font-family: "UbuntuMono-Regular", monospace;
        }
    }
    .terminal-preview::-webkit-scrollbar{
        background-color: transparent;
        width: 3px
    }
    .terminal-preview::-webkit-scrollbar-track{
        background-color: transparent;
    }
    .terminal-preview::-webkit-scrollbar-thumb{
        background-color: rgba(255,255,255, 0.1);
        border-radius: 5px;
    }
    .terminal-input-container{
        display: flex;
        font-family: "UbuntuMono-Regular", monospace;
        color: white;
        flex-wrap: nowrap;
        font-size: 1rem;
        .terminal-input{
            font-family: "UbuntuMono-Regular", monospace;
            font-size: inherit;
            color: inherit;
            border: none;
            outline: none;
            background-color: transparent;
            width: 100%;
            caret-color: white;
        }
    }
}

.wrapper{
    .projects{
        display: flex;
        flex-wrap: wrap;
        .sub-card{
            flex-basis: 45%;
        }
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .skill-container{
            width: auto;
            // flex-basis: ;
            .skill-icon{
                width: 100%;
                max-height: 100px;
            }
        }
    }
}
.contact{
    padding: 1rem;
    .social{
        display: flex;
        justify-content: center;
        .social-icon-container{
            width: auto;
            display: block;
            .social-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                max-height: 100px;
                margin: 1rem;
            }
        }
    }
}
@media all and (max-width: 600px){
    .wrapper{
        .projects{
            .sub-card{
                flex-basis: 100%;
            }
        }
    }
}

// colors
.ut-color, .cyan, .lime, .orangered, .flags, .orchid, .sky-blue,.custom-color1, .yellowgreen, .fb-color, .tw-color, .ln-color, .gh-color{
    font-family: "UbuntuMono-Regular", monospace;
    font-size: inherit;
}
.ut-color{
    color: rgb(64, 169, 255);
}
.cyan{
    color: cyan;
}
.sky-blue{
    color: skyblue;
}
.yellowgreen{
    color: yellowgreen;
}
.orangered{
    color: orangered;
}
.flags{
    color: peachpuff;
}
.orchid{
    color: orchid;
}
.custom-color1{
    color: rgb(255, 228, 77);
}
.lime{
    color: lime;
}
.fb-color{
    color: #3b5998;
}
.tw-color{
    color: #00acee;
}
.ln-color{
    color: #0e76a8;
}
.gh-color{
    color: #211F1F;
}