@font-face {
  font-family: "Hermit-Regular";
  src: url("../assets/Hermit-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Raleway Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/OpenSans-SemiBold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway Regular", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body .model {
  cursor: pointer;
}

body .modelOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .modelOverlay img {
  max-width: 80%;
  width: auto;
}

img {
  width: 240px;
  min-width: 10px;
}

header#rvHsQW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  background-image: var(--theBgGradient0);
}

header#rvHsQW span {
  display: block;
}

header#rvHsQW div.dp-container {
  overflow: hidden;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

header#rvHsQW div.dp-container section.dafhauh {
  padding: 0.5rem;
}

header#rvHsQW div.dp-container section.dafhauh img {
  border: 2px solid var(--notBodyText);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

header#rvHsQW div.intro {
  padding: 1rem;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

header#rvHsQW div.intro span.my-name {
  font-size: 4.5rem;
  font-weight: 600;
}

header#rvHsQW div.intro span.tag-line {
  font-size: 1.5rem;
}

header#rvHsQW div.mode-change-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.25rem;
}

header#rvHsQW div.mode-change-btn svg {
  border-radius: 50%;
  opacity: 0.82;
  max-width: 48px;
  max-height: 48px;
}

header#rvHsQW div.mode-change-btn svg:hover {
  opacity: 1;
}

div.top-fixed {
  height: 3rem;
  width: 100%;
  overflow-y: hidden;
}

div.top-fixed .navigation {
  height: 100%;
}

div.top-fixed .navigation nav {
  height: 100%;
}

div.top-fixed .navigation nav ul {
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.top-fixed .navigation nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

div.top-fixed .navigation nav ul li a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 0.95rem 0.5rem;
  font-size: 0.9rem;
}

article.card {
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article.card span {
  display: block;
}

article.card .card-heading {
  font-family: "Open Sans";
  padding: 0.25rem;
  width: 100%;
}

article.card .sub-card {
  width: 100%;
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.25rem;
}

main {
  padding: 0.5rem;
  overflow-y: hidden;
}

main .terminal {
  display: block;
  margin: 1rem;
  background-color: #111;
  padding: 0.25rem;
}

main .terminal .terminal-preview {
  padding: 0.25rem;
  color: white;
  height: 30vh;
  max-height: 480px;
  font-family: "Hermit-Regular", monospace;
  font-size: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

main .terminal .terminal-preview .terminal-preview-text {
  color: white;
  font-family: "Hermit-Regular", monospace;
}

main .terminal .terminal-preview::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

main .terminal .terminal-preview::-webkit-scrollbar-track {
  background-color: transparent;
}

main .terminal .terminal-preview::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

main .terminal .terminal-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Hermit-Regular", monospace;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.25rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1rem;
}

main .terminal .terminal-input-container .terminal-input {
  font-family: "Hermit-Regular", monospace;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  caret-color: white;
}

main div.wrapper article.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main div.wrapper article.projects section.sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 300px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

main div.wrapper article.projects section.sub-card a {
  display: block;
}

main div.wrapper article.projects section.sub-card a img {
  height: auto;
  width: 100%;
  display: block;
}

main div.wrapper article.projects section.sub-card .sub-card-content {
  padding: 0.5rem;
}

main div.wrapper article.projects section.sub-card .sub-card-content .project-name {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.2rem;
}

main div.wrapper article.projects section.sub-card .sub-card-content .proj-ingredients, main div.wrapper article.projects section.sub-card .sub-card-content .proj-description {
  font-size: 0.9rem;
  padding: 0.2rem;
}

main div.wrapper article.projects section.sub-card .sub-card-content .repo-link {
  margin-top: 0.25rem;
}

main div.wrapper article.projects section.sub-card .sub-card-content .repo-link a {
  font-size: 0.9rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 20px;
}

main div.wrapper article.skills {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main div.wrapper article.skills div.skill-container {
  margin: 0.25rem;
  width: 50px;
}

main div.wrapper figure.sub-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.wrapper figure.sub-card picture {
  padding: 0.5rem;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

main div.wrapper figure.sub-card picture img.sub-card-pic {
  display: block;
  width: auto;
  max-height: 150px;
}

main div.wrapper figure.sub-card picture img.sub-card-circle-pic {
  border-radius: 50%;
}

main div.wrapper figure.sub-card figcaption.sub-card-content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-name {
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: 600;
}

main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-details {
  font-size: 0.9rem;
}

main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-extras {
  font-size: 0.8rem;
}

main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-links {
  font-size: 0.9rem;
}

main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-links a {
  color: inherit;
  opacity: 0.8;
}

main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-links a:hover {
  opacity: 1;
}

main div.wrapper figure.sub-card figcaption.sub-card-content * {
  padding: 0.15rem;
}

main div.wrapper article.timeline {
  position: relative;
}

main div.wrapper article.timeline section.timeline-progress {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scrollbar-width: thin;
  padding: 2rem 0;
}

main div.wrapper article.timeline section.timeline-progress div.timeline-progress-content {
  border-radius: 20px;
  padding: 0.6rem;
  white-space: nowrap;
  cursor: pointer;
}

main div.wrapper article.timeline section.timeline-progress div.timeline-progress-bar {
  min-width: 100px;
  height: 4px;
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar {
  background-color: transparent;
  height: 3px;
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar-track {
  background-color: transparent;
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

main div.wrapper article.timeline .timeline-details .timeline-details-card {
  display: none;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100%;
  min-width: 100px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 9;
  top: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

main div.wrapper article.timeline .timeline-details .timeline-details-card .sub-card {
  margin: 0;
  white-space: normal;
  text-align: left;
}

main div.wrapper article.timeline .timeline-details .timeline-details-card .sub-card picture {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

main div.wrapper article.timeline .timeline-details .timeline-details-card .sub-card picture img {
  margin: auto;
  max-height: 150px;
}

main div.wrapper article.timeline .timeline-details:hover > .timeline-details-card {
  display: block;
}

footer.contact {
  background-image: var(--theBgGradient0);
  padding: 0.5rem;
}

footer.contact span.footer-heading {
  font-family: "Open Sans";
  font-size: 1.4rem;
}

footer.contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.contact .social .social-icon-container {
  width: auto;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 0.6rem;
  padding: 0.5rem;
}

footer.contact .social .social-icon-container .social-icon {
  padding: 0.5rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  max-height: 100px;
}

@media all and (max-width: 1000px) {
  header#rvHsQW div.intro span.my-name {
    font-size: 2.63rem;
  }
  header#rvHsQW div.intro span.tag-line {
    font-size: 1rem;
  }
  header#rvHsQW div.header-overlay {
    display: none;
  }
}

@media all and (max-width: 600px) {
  header#rvHsQW div.intro span.my-name {
    font-size: 1.2rem;
  }
  header#rvHsQW div.intro span.tag-line {
    font-size: 0.7rem;
  }
  header#rvHsQW div.header-overlay {
    display: none;
  }
  main .terminal {
    display: block;
    margin: 1rem;
    background-color: #111;
    padding: 0.25rem;
  }
  main .terminal .terminal-preview {
    padding: 0.25rem;
    color: white;
    height: 30vh;
    max-height: 480px;
    font-family: "Hermit-Regular", monospace;
    font-size: 0.8rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }
  main .terminal .terminal-preview .terminal-preview-text {
    color: white;
    font-family: "Hermit-Regular", monospace;
  }
  main .terminal .terminal-preview::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
  }
  main .terminal .terminal-preview::-webkit-scrollbar-track {
    background-color: transparent;
  }
  main .terminal .terminal-preview::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  main .terminal .terminal-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Hermit-Regular", monospace;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 0.8rem;
  }
  main .terminal .terminal-input-container .terminal-input {
    font-family: "Hermit-Regular", monospace;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    caret-color: white;
  }
  main div.wrapper article.skills div.skill-container {
    margin: 0.15rem;
    width: 35px;
  }
  main div.wrapper figure.sub-card {
    padding: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main div.wrapper figure.sub-card picture {
    padding: 0.5rem;
  }
  main div.wrapper figure.sub-card picture img.sub-card-pic {
    display: block;
    width: auto;
    max-height: 50px;
  }
  main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-name {
    font-size: 1rem;
  }
  main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-purpose {
    font-size: 0.8rem;
  }
  main div.wrapper figure.sub-card figcaption.sub-card-content span.sub-card-head-duration {
    font-size: 0.6rem;
  }
  main div.wrapper article.projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main div.wrapper article.projects section.sub-card {
    margin-left: auto;
    margin-right: auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main div.wrapper article.projects section.sub-card a {
    padding: 0.25rem;
  }
  main div.wrapper article.projects section.sub-card a img {
    width: 80%;
    margin: auto;
  }
  main div.wrapper article.timeline .timeline-details .timeline-details-card .sub-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main div.wrapper article.timeline .timeline-details .timeline-details-card .sub-card picture {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main div.wrapper article.timeline .timeline-details .timeline-details-card .sub-card picture img {
    margin: auto;
    max-height: 100px;
  }
}

@media all and (max-width: 330px) {
  header#rvHsQW div.mode-change-btn svg {
    max-width: 30px;
    max-height: 30px;
  }
}

.ut-color, .cyan, .lime, .orangered, .flags, .orchid, .sky-blue, .custom-color1, .yellowgreen, .fb-color, .tw-color, .ln-color, .gh-color {
  font-family: "Hermit-Regular", monospace;
  font-size: inherit;
}

.ut-color {
  color: #40a9ff;
}

.cyan {
  color: cyan;
}

.sky-blue {
  color: skyblue;
}

.yellowgreen {
  color: yellowgreen;
}

.orangered {
  color: orangered;
}

.flags {
  color: peachpuff;
}

.orchid {
  color: orchid;
}

.custom-color1 {
  color: #ffe44d;
}

.lime {
  color: lime;
}

.fb-color {
  color: #3b5998;
}

.tw-color {
  color: #00acee;
}

.ln-color {
  color: #0e76a8;
}

.apricot {
  color: #F4CBB2;
}

.light-opacity {
  opacity: 0.7;
  z-index: -1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.sticky + main {
  padding-top: 3rem;
}

.toolTip {
  position: relative;
}

.toolTip .toolTipText {
  display: none;
  width: auto;
  min-width: 100px;
  text-align: center;
  border-radius: 6px;
  padding: 0.25rem;
  position: absolute;
  z-index: 9;
  top: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.toolTip:hover > .toolTipText {
  display: block;
}
/*# sourceMappingURL=default.css.map */