@font-face {
  font-family: "UbuntuMono-Regular";
  src: url("../assets/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../assets/OpenSans-ExtraBold.ttf);
}

:root {
  --uiCol0: rgb(0, 102, 255);
  --uiCol1: rgb(13, 86, 196);
  --uiCol2: rgb(68, 155, 255);
  --uiCol3: rgb(0, 26, 112);
  --theBgGradient: radial-gradient(circle at center left,var(--uiCol2) 10% , var(--uiCol0) 25%, var(--uiCol1) 25%, var(--uiCol0) 35%, var(--uiCol1) 35%, var(--uiCol0) 50%, var(--uiCol1) 50%, var(--uiCol0) 65%, var(--uiCol1) 65%, var(--uiCol0) 80%, var(--uiCol1) 80%, var(--uiCol3) 100%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: yellowgreen;
}

img {
  width: 240px;
}

span {
  display: block;
}

header#rvHsQW {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header#rvHsQW div.dp-container {
  overflow: hidden;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

header#rvHsQW div.dp-container section.dafhauh {
  padding: 1rem;
}

header#rvHsQW div.dp-container section.dafhauh img {
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

header#rvHsQW div.intro {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  color: white;
}

header#rvHsQW div.intro span.my-name {
  font-size: 2rem;
  font-weight: 600;
}

header#rvHsQW div.intro span.tag-line {
  font-size: 0.9rem;
}

div.top-fixed {
  height: 50px;
  width: 100%;
  background-color: red;
}

main {
  padding: 0.5rem;
}

main div.wrapper article.card {
  border: 1px solid;
}

@media all and (max-width: 540px) {
  header#rvHsQW div.intro span.my-name {
    font-size: 1.5rem;
  }
  header#rvHsQW div.intro span.tag-line {
    font-size: 0.8rem;
  }
}

.terminal {
  display: none;
  margin: 1rem;
  background-color: #333;
  padding: 0.2rem;
}

.terminal .terminal-preview {
  color: white;
  height: 30vh;
  max-height: 480px;
  font-family: "UbuntuMono-Regular", monospace;
  font-size: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

.terminal .terminal-preview .terminal-preview-text {
  color: white;
  font-family: "UbuntuMono-Regular", monospace;
}

.terminal .terminal-preview::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

.terminal .terminal-preview::-webkit-scrollbar-track {
  background-color: transparent;
}

.terminal .terminal-preview::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.terminal .terminal-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "UbuntuMono-Regular", monospace;
  color: white;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1rem;
}

.terminal .terminal-input-container .terminal-input {
  font-family: "UbuntuMono-Regular", monospace;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  caret-color: white;
}

.ut-color, .cyan, .lime, .orangered, .flags, .orchid, .sky-blue, .custom-color1, .yellowgreen, .fb-color, .tw-color, .ln-color, .gh-color {
  font-family: "UbuntuMono-Regular", monospace;
  font-size: inherit;
}

.ut-color {
  color: #40a9ff;
}

.cyan {
  color: cyan;
}

.sky-blue {
  color: skyblue;
}

.yellowgreen {
  color: yellowgreen;
}

.orangered {
  color: orangered;
}

.flags {
  color: peachpuff;
}

.orchid {
  color: orchid;
}

.custom-color1 {
  color: #ffe44d;
}

.lime {
  color: lime;
}

.fb-color {
  color: #3b5998;
}

.tw-color {
  color: #00acee;
}

.ln-color {
  color: #0e76a8;
}

.apricot {
  color: #F4CBB2;
}

@-webkit-keyframes bganime {
  0% {
    background-image: var(--theBgGradient);
    background-size: 100%;
  }
  50% {
    background-image: var(--theBgGradient);
    background-size: 300%;
  }
  100% {
    background-image: var(--theBgGradient);
    background-size: 100%;
  }
}

@keyframes bganime {
  0% {
    background-image: var(--theBgGradient);
    background-size: 100%;
  }
  50% {
    background-image: var(--theBgGradient);
    background-size: 300%;
  }
  100% {
    background-image: var(--theBgGradient);
    background-size: 100%;
  }
}

.light-opacity {
  opacity: 0.5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main {
  padding-top: 60px;
}
/*# sourceMappingURL=default.css.map */