:root {
  --bodyText: #333;
  --bodyTextHover: black;
  --notBodyText: white;
  --uiCol0: rgb(255, 136, 0);
  --uiCol1: rgb(250, 36, 50);
  --uiCol2: rgb(255, 155, 68);
  --uiCol3: rgb(255, 63, 5);
  --theSelectorGrad: linear-gradient(90deg, #ee0942, var(--uiCol0));
  --theSelectorGradHover: linear-gradient(90deg, var(--uiCol3), var(--uiCol1));
  --theSelectorGradVert: linear-gradient(180deg, #ee0942, var(--uiCol0));
  --theBgGradient0: radial-gradient(circle at top left,var(--uiCol2), var(--uiCol1), var(--uiCol0), var(--uiCol1), var(--uiCol3));
  --shadowCol: var(rgba(0,0,0, 0.2));
  --oppCol: #ccc;
  --oppCol: #ddd;
}

header#rvHsQW div.intro {
  color: var(--notBodyText);
}

header#rvHsQW div.dp-container section.dafhauh img {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

div.top-fixed {
  background-color: var(--notBodyText);
  background-image: var(--theSelectorGrad);
}

div.top-fixed .navigation nav ul {
  background-image: var(--theSelectorGrad);
}

div.top-fixed .navigation nav ul li a {
  color: var(--notBodyText);
}

div.top-fixed .navigation nav ul li a:hover {
  background-image: var(--theSelectorGradHover);
}

.card {
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--oppCol);
}

.card * {
  color: var(--bodyText);
}

.card .sub-card {
  border-left: 4px solid var(--uiCol2);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.card section.sub-card a img {
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.card section.sub-card .sub-card-content .project-name a {
  color: var(--bodyText);
}

.card section.sub-card .sub-card-content .repo-link a {
  background-image: var(--theSelectorGrad);
  color: var(--notBodyText);
  -webkit-box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.card section.sub-card .sub-card-content .repo-link a:hover {
  background-image: var(--theSelectorGradHover);
}

.card figure.sub-card picture img.sub-card-circle-pic {
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

article.card:hover {
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

main {
  background-color: var(--oppCol2);
}

main div.wrapper article.skills div.skill-container svg path {
  fill: var(--bodyText);
}

main div.wrapper article.timeline section.timeline-progress {
  border: none;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

main div.wrapper article.timeline section.timeline-progress div.timeline-progress-content {
  border: none;
  border: 2px solid var(--uiCol2);
}

main div.wrapper article.timeline section.timeline-progress div.timeline-progress-bar {
  background-color: var(--uiCol2);
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar {
  background-color: transparent;
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar-track {
  background-color: rgba(175, 175, 175, 0.5);
}

main div.wrapper article.timeline section.timeline-progress::-webkit-scrollbar-thumb {
  background-color: var(--uiCol2);
  background-image: var(--theSelectorGrad);
}

main div.wrapper article.timeline .timeline-details .timeline-details-card {
  background-color: rgba(136, 136, 136, 0.8);
}

main div.wrapper article.timeline .timeline-details .timeline-details-card .sub-card {
  border: 2px solid var(--bodyTextHover);
}

footer.contact {
  color: var(--notBodyText);
}

footer.contact .social .social-icon-container {
  color: var(--notBodyText);
}

footer.contact .social .social-icon-container .social-icon {
  fill: var(--notBodyText);
}

footer.contact div.signate {
  color: var(--notBodyText);
}

.toolTip .toolTipText {
  background-color: #242424;
}

.active-link-btn {
  background-image: var(--theSelectorGradHover);
}

.bottom-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-fixed .burger, .bottom-fixed .scroll-to-top {
  background-color: var(--uiCol2);
  background-image: var(--theSelectorGrad);
}

.bottom-fixed .burger .bars, .bottom-fixed .scroll-to-top .bars {
  background-color: var(--notBodyText);
}

.bottom-fixed .burger .up-arrow-box, .bottom-fixed .scroll-to-top .up-arrow-box {
  border-top: 1px solid var(--notBodyText);
  border-left: 1px solid var(--notBodyText);
}

.bottom-fixed .burger:hover, .bottom-fixed .scroll-to-top:hover {
  background-image: var(--theSelectorGradHover);
}

.overlay-nav {
  background-image: var(--theSelectorGradVert);
}

.overlay-nav a {
  color: var(--bodyText);
}

.overlay-nav a:hover {
  color: var(--bodyTextHover);
}
/*# sourceMappingURL=light.css.map */